/* ------------------ Fonts ------------------ */

@font-face {
  font-family: 'ReallyAwesome';
  src: url('fonts/Really-Awesome.ttf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand.ttf') format('opentype');
}

/* ------------------ Root ------------------ */

:root {
  --white: #fff;
  --grey: #aaa;
  --black: #202020;
  --turqoise: #63e3bb;
  --lavender: #a374f3;
  --navy: #040444;
}

/* ------------------ Elements ------------------ */

body {
  width: 90vw;
  margin: 6em auto;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  color: var(--black);
  background: linear-gradient(#fff8e9, #f4ebbb);
}

h1, h2, h3, p {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

ul, li, button {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* ------------------ Grid ------------------ */

.main__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* ------------------ Flip card ------------------ */

.main__card--container {
  width: 17em;
  height: 20em;
  perspective: 1000px;
  margin-bottom: 2em;
}

.main__card--positioning {
  position: relative;
  width: 17em;
  height: 20em;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.main__card--front, .main__card--back {
  width: 15em;
  height: 15em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.main__card--front {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.342));
  position: absolute;
  border: solid white 1em;
  border-bottom: solid white 5em;
}

.main__card--back {
  position: absolute;
  transform: rotateY(180deg);
  background: white;
  border: solid white 1em;
  border-bottom: solid white 5em;
}

.main__card--flip {
  transform: rotateY(180deg);
}

/* ------------------ Content Front ------------------ */

.main__card--background {
  width: 15em;
  height: 15em;
  z-index: -1;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.main__card--name {
  color: var(--black);
  margin-top: 11em;
  font-size: 1.4em;
}

.main__card--nickname {
  color: var(--black);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  opacity: 0.8;
}

/* ------------------ Content Back ------------------ */

.main__card--subtitle {
  font-size: 1.6em;
}

.main__card--subtitle:nth-of-type(1) {
  margin-top: 1.4em;
}

.main__card--text {
  font-size: 1.4em;
}

.main__card--link {
  text-decoration: none;
  color: unset;
  font-size: 1.4em;
}

/* ------------------ Content Person Page ------------------ */

.person__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person__avatar {
  border: 2em solid var(--white);
  border-bottom: 6em solid var(--white);
}

/* ------------------ Filters ------------------ */

select {
  margin: 2em 1em;
  border: none;
}

/* ------------------ Media Queries ------------------ */

@media screen and (max-width: 767px) {

  body, main, ul, li {
    width: 17em;
  }

  .main__list {
    grid-template-columns: 1fr;
    gap: 4em 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  li {
    margin: 0 auto;
  }

  .main__list {
    grid-template-columns: 1fr 1fr;
    gap: 4em;
  }
}

@media screen and  (min-width: 1024px) and (max-width: 1599px) {
  li {
    margin: 0 auto;
  }

  .main__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
  }
}

@media screen and (min-width: 1600px) {

  .main__list {
    gap: 2em 0;
  }

  .main__card--container:hover .main__card--positioning {
    transform: rotateY(180deg);
  }  
}