/* ------------------ Fonts ------------------ */

@font-face {
  font-family: 'ReallyAwesome';
  src: url('fonts/Really-Awesome.ttf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand.ttf') format('opentype');
}

/* ------------------ Root ------------------ */

:root {
  --white: #fff;
  --grey: #aaa;
  --black: #202020;
  --turqoise: #63e3bb;
  --lavender: #a374f3;
  --navy: #040444;
}

/* ------------------ Elements ------------------ */

body {
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  color: var(--black);
  background: linear-gradient(#fff8e9, #f4ebbb);
}

h1, h2, h3, p {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

ul, li, button {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* ------------------ Grid ------------------ */

.main__list {
  margin: 6em 6em;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* ------------------ Flip card ------------------ */

.main__card--container {
  width: 17em;
  height: 20em;
  perspective: 1000px;
  margin-bottom: 2em;
}

.main__card--positioning {
  position: relative;
  width: 17em;
  height: 20em;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.main__card--front, .main__card--back {
  width: 15em;
  height: 15em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.main__card--front {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.342));
  position: absolute;
  border: solid white 1em;
  border-bottom: solid white 5em;
}

.main__card--back {
  position: absolute;
  transform: rotateY(180deg);
  background: white;
  border: solid white 1em;
  border-bottom: solid white 5em;
}

.main__card--flip {
  transform: rotateY(180deg);
}

/* ------------------ Content Front ------------------ */

.main__card--background {
  width: 15em;
  height: 15em;
  z-index: -1;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.main__card--name {
  color: var(--black);
  margin-top: 11em;
  font-size: 1.4em;
}

.main__card--nickname {
  color: var(--black);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  opacity: 0.8;
}

/* ------------------ Content Back ------------------ */

.main__card--subtitle {
  font-size: 1.6em;
}

.main__card--subtitle:nth-of-type(1) {
  margin-top: 1.4em;
}

.main__card--text {
  font-size: 1.4em;
}

.main__card--link {
  text-decoration: none;
  color: unset;
  font-size: 1.4em;
}

/* ------------------ Content Person Page ------------------ */

.custom__body {
  margin: 0 auto;
}

.person__back {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  margin: 2em;
  font-size: 1.4em;
  text-decoration: none;
  color: unset;
  font-weight: bold;
}

.person__back img {
  width: 24px;
  height: 24px;
  margin-right: 0.6em;
}

.person__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.person__name {
  display: flex;
  justify-content: center;
  color: var(--black);
  margin-top: 13em;
  font-size: 2em;
}

.person__nickname {
  display: flex;
  justify-content: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 4px;
  opacity: 0.8;
}


.person__avatar--overlay {
  width: 28em;
  height: 32em;
  position: absolute;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 16px;
}

.person__avatar {
  width: 24em;
  height: 24em;
  border: 2em solid var(--white);
  border-bottom: 6em solid var(--white);
  border-radius: 16px;
}

.person__form {
  display: flex;
  flex-direction: column;
  width: 28em;
}

.person__form button {
  margin: 1em auto;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  background-color: var(--white);
  height: 2.6em;
  width: 10em;
  font-size: 1.2em;
  font-family: 'Quicksand';
  font-weight: bold;
  transition: ease-in-out 600ms;
}

.person__form textarea {
  resize: none;
  border: none;
  border-radius: 12px;
  background-color: var(white);
  font-size: 1.2em;
  font-family: 'Quicksand';
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  height: 1.4em;
}

.person__form button:hover {
  transform: scale(1.05);
}

.person__form h3 {
  font-size: 2em;
  margin-top: 0.4em;
}

.person__messages {
  color: var(--black);
}

.person__messages h3 {
  font-size: 2em;
}

.person__messages--box {
  width: 28em;
  height: 20em;
  /* background-color: var(--white); */
  border-radius: 16px;
  /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
  display: flex;
  flex-direction: column;
}

.person__messages--box li {
  color: var(--black);
  background-color: var(--white);
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 12px;
}

.person__aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 28em;
  height: 32em;
  background-color: var(--white);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 16px;
}

.person__aboutme h3 {
  font-size: 2em;
}

.person__aboutme p {
  font-size: 1.4em;
  max-width: 80%;
  text-align: center;
}

/* ------------------ Filters ------------------ */

select {
  margin: 2em 1em;
  border: none;
}

/* ------------------ Media Queries ------------------ */

@media screen and (max-width: 767px) {

  .main__list {
    grid-template-columns: 1fr;
  }

  .person__main {
    display: grid;
    gap: 4em 0;
    margin-top: 8em;
    margin-bottom: 8em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .main__list {
    grid-template-columns: 1fr 1fr;

  }

  .person__main {
    display: grid;
    gap: 4em 0;
    margin-top: 8em;
    margin-bottom: 8em;
  }
}

@media screen and  (min-width: 1024px) and (max-width: 1599px) {

  .main__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .person__main {
    display: grid;
    gap: 4em 0;
    margin-top: 8em;
    margin-bottom: 8em;
  }
}

@media screen and (min-width: 1600px) {

  .main__list {
    gap: 2em 0;
  }

  .main__card--container:hover .main__card--positioning {
    transform: rotateY(180deg);
  }  
}